node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Cache
.cache
.parcel-cache
.vite